
/* HEADER     */

    header {
        max-width: 100vw;
        height: 100vh;
    }
    
/* NAV BARRE    */

    nav {
        
        width: auto;
        height: 100vh ;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgb(206, 206, 214);
        align-items: center;
        font-size: xx-large;
        text-decoration-line: overline;    
    
    }

    .ach {

    color: black;

    }

/* BODY */

    body{
        width: 100vw;
        display: flex;
        flex-direction: column;
        background-color:black;
        margin: 0;
        
    }

/* PHOTO ZONE1*/

    #Z1 {

        max-height: 100vh;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
         
    }

    #IMG_1 {

        max-width: 100vw;
        max-height: 100vh;
        
    }

/* POSTE CANDIDAT ZONE 2*/

    #Z2 {                                                       
                    
        background-color: beige;
        height: 140px;

    }

    #Z2_1 , #Z2_2 {


        text-align: center;
        font-size: 45px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
        width: 100vw;
        color: black;
        margin:10px 0 0 0 ;
        

    }

#Z2_A {

    background-color:  rgb(127, 187, 255);
}

/* NOM DU CANDIDAT ET DESCRIPTION ZONE 3*/

    #Z3 {

        display: flex;
        flex-direction: column;
        background-color: rgb(127, 187, 255);
        height: 950px;
    }
   
    #NOM {
        
        text-align: left;
        font-weight: bold;
        margin: 0;
        font-size: xx-large;
        font-family: fantasy;
        color: rgb(247, 35, 12);
     
    }
/* DESCRIPTION ET PARAGRAPHES */

    .DESCRIPTION #DESCRIPTION{

        font-size: large;
        text-align: left;
        margin: 0%;
    }

/* EXPERIENCE */

    .TITRE ,.TITRE1 {

        font-size: x-large;
        background-color: rgb(126, 245, 215);
        margin: 0 3px;
           
    }

    .DATE {

        font-size: x-large;
        background-color: rgb(200, 223, 200);
        margin: 0 3px;

    }

    .COMPET {

        width: 100vw;
        font-size: xx-large;
        text-decoration: underline;
        margin-left: 4px;
                
    }

/* ZONE4  */

     #Z4 {

        width: 100vw;
        height: 1900px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-color:rgb(127, 187, 255);

    }

/* TECHNOLOGIES */
    
      .COMPET_LOGOS {

        width: 170px;      /*responsive 145*/
        height: 280PX;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background-color:blue;
        border:2px solid black;
        margin-bottom: 30px;   
        
    }
    
/* BOITES     */
     
    .LOGOS{
        
        display: flex;
        width: 100%;
        height: 50%;
        border-bottom: 2px solid black;
        justify-content: center;
        margin-top: 10px;
    
    }

    .LOGO{

        width: 50%;
        height: 90%;
        position: relative;
        left: 50px;
 
    }

    .LANGUAGES {

        position: relative;
        top: 20px;
        text-align: center;
        height: 80px;
        width: 170px;
        font-family: 'Times New Roman', Times, serif;
        font-size: x-large;

    }
    
    progress {

        width: 120px;
        height: 30px;
        accent-color: rgba(236, 236, 39, 0.548)
    }
    
    footer {
        
        text-align: center;
        font-size: x-large;
        font-style: oblique;
        color: gold;

    }

    @media screen and (min-width: 600px) {
    

/* HEADER */

HEADER{

    height: 10vh;
    
    display: flex;
    flex-direction: row;
}

/* NAV BARRE    */

nav {
        
    height: 10vh ;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

/* ZONE PRESENTATION */

#Z1 {

    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
}

/* POSTE */

 #Z2{

    height: 20vh;
    width: 50vw;
    display: flex;
    flex-direction: column; 
    position: absolute;
    top: 65vh;
    left: 2vw;
    height: 30vh;
    width: 54vw; 
       
}

#Z2_1 , #Z2_2{

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 400%;
    height: 15vh;
    width: 54vw;
    background-color:rgb(255, 203, 96);
    margin: 0;
    font-family: Metal Mania;

}

/* NOM ET DESCRIPTION CANDITAT */

#Z2_A {
position: absolute;
top: 15vh;
left: 2vw;
height: 50vh;
width: 54vw;
}

#NOM {

    text-align: center;
    font-size: 50px;
    margin: 15px 0 10px 0;
    font-family: Metal Mania;
    
    

}

#DESCRIPTION {

color: rgb(169, 17, 1);
font-size:large;
font-weight:bold;

}

/* PHOTO CANDIDAT */

#IMG_1 {

    display: flex;
    width: 40vw;
    height: 80vh;
    position: absolute;
    left:58vw;
    top: 15vh;
}

/* EXPERIENCE */

#Z3 {

height: 190vh;

}

.TITRE_DATE {

    display: flex;
    flex-direction: row;
    margin: 0 10px;

}

.DATE {

    display: flex;
   margin-left:auto;
}

/* TECHNOLOGIE */

.COMPET_LOGOS {

    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    margin: 0 5px 0 5px;
}


    }

    @media screen and (min-width: 1250px) {
    

HEADER {

    height: 10vh;
    position: fixed;
    z-index: 10;

} 

body {

    display: flex;
    flex-direction: column;
}

/* PHOTO , POSTE ET DESCRIPTION         */

    #Z1 {

            height: 90vh;
            width: 31vw;
            position: fixed;
            top: 10vh;
            z-index: 10;
            


    }

    #IMG_1 {
            height:50%;
            width:60%;
            position: fixed;
            position:relative;
            top: 2vh;
            left: 7vw;
            
           
        }


        #Z2 {
            
            height: 10%;
            width: 19vw;
            position: fixed;
            top: 51vh;
            left: 8vw; 
            z-index: 10;
        }

        #Z2_1,#Z2_2 {

            height: 50%;
            width: 19vw;
            font-size: x-large;
 
        }


        #Z2_A {
            height: 25vh;
            width: 28vw;
            position: fixed;
            left: 1.5vw;
            top: 70vh;
            z-index: 10;
        }


/* ETUDES */


        #Z3  { 
            height:auto;
            width: 100vw;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            /* position: absolute; */
            top:10vh;
            margin-left: 31vw;
            width:auto;

        }

        #Z4 {

            margin-left: 31vw;
            width: 69vw;
        }

 
        #EXPE {

            
            position: absolute;
            left: 190vw;
            top: 1vh;

        } 

        .SEPARATION {

            display: flex;
            flex-direction: column;

        }

.DESCRIPTION {

    text-align: left;
}

        .DATE {

            margin-left: 50vh;
        }


/* TECHNOLOGIES */
        #Z4 {

            height:50% ;
            width: 69vw;
            display: flex;
            flex-wrap: wrap;
            flex-direction:row;
        }

        #TECHNO { 
            display: flex;
           flex-wrap: wrap;
            /* height:60vh;
            width: 1vw; */

        }


        .COMPET_LOGOS {

            display: flex;
            height: 40vh;
            width: 10vw;
            margin: 0 35px 35px 0;

        }

        FOOTER {

        position: relative;
        width: 130%;
        }

    }